body {
    background-color: #f0f0f5;
}

.navbar-brand {
    color: #cce0ff;
    font-size: 1.6rem;
    margin-left: 10px;
}

.nav-link {
    color: #cce0ff;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    margin-left: 20px;
}

.d-flex button {
    color:#f0f0f5;;
    border-color: #f0f0f5;;
}

form {
    width: 600px;
}

.form-group {
    margin-bottom: 15px;
}

.account-card {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.account-text {
    font-size: 1.1rem;
}

.account-button-wrapper {
    max-width: 600px;
    margin: 30px auto 0 auto;
    text-align: center;
}

#usersTable {
    border: 1px solid #ccc;
}

#usersTable th, #usersTable td {
    border: 1px solid #ddd;
}

div.dataTables_filter {
    margin-bottom: 15px;
}

.add-user-btn {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 20px;
    font-size: 1.1rem;
}

.dataTables_wrapper .dataTables_info {
    margin-top: 20px;
}

.dataTables_wrapper .dataTables_paginate {
    margin-top: 20px;
}

.dataTables_wrapper {
    margin-bottom: 20px;
}