{% extends 'index.html' %}

{% block content %}

    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h3 class="mb-0">Regisztrált felhasználók</h3>
            <a href="#" class="btn custom-add-btn">+ Felhasználó hozzáadása</a>
        </div>

        <table id="usersTable" class="display responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Vezetéknév</th>
                    <th>Keresztnév</th>
                    <th>Beosztás</th>
                    <th>Felhasználónév</th>
                    <th>Email</th>
                </tr>
            </thead>

            <tbody>
                {% for u in users %}
                <tr>
                    <td>{{ u.id }}</td>
                    <td>{{ u.surname }}</td>
                    <td>{{ u.forename }}</td>
                    <td>{{ u.rank }}</td>
                    <td>{{ u.username }}</td>
                    <td>{{ u.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>

    <!-- DataTables inicializálása. -->
    <script>
        $(document).ready(function() {
            $('#usersTable').DataTable({
                responsive: true,
                
                language: {
                    url: "https://cdn.datatables.net/plug-ins/2.3.5/i18n/hu.json"
                }
            });
        });    
    </script>
{% endblock scripts %}
